<ul class="nav navbar-nav">
  <li><a href="?service=create-and-init">Create Order /Initialize Payment</a></li>
  <li><a href="?service=finalize-authorization">Finalize Authorization</a></li>
  <li><a href="?service=annul-authorization">Annul Authorization</a></li>
  <li><a href="?service=refund-payment">Refund Payment</a></li>
  <li><a href="?service=get-customer-profile">Get Customer Profile</a></li>
  <li><a href="?service=remove-customer-profile-card">Remove Customer Profile/Card</a></li>
</ul>